@import "./assets/css/colors";

$header-height: 75px;
$mobile-header-height: 68px;
$mobile-filter-height: 44px;
$sidebar-width: 400px;

body {
    font-family: Roboto, 'Open Sans', Arial, sans-serif;
    margin: 0;
    background-color: $background-color;
    color: $text-color;
}

* {
    box-sizing: border-box;

    &:focus {
        color: $light-text-color !important;
        outline: none;
    }
}


.header {
    app-logo {
        display: block;
        fill: $text-color;
    }
}

.sidebar {
    display: block;
    position: fixed;
    right: 0;
    top: $header-height;
    bottom: 0;
    width: $sidebar-width;
    background-color: $light-background-color;
    border-left: 1px solid $text-color;

    li {
        padding: 0 5px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

app-categories {
    display: block;
    margin-right: $sidebar-width;

    ul {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 5px;        
    }
    
    h2 {
        margin: 0;
        font-size: 120%;
    }

    app-sample {
        button {
            display: flex;
            flex-direction: column;
            width: 160px;
            height: 120px;
            border: 1px solid $light-background-color;
            overflow: hidden;
            justify-content: space-between;
            align-items: stretch;
            text-align: center;
            padding: 0;
            color: $text-color;
            background-color: $light-background-color;

            &:focus {
                border-color: $text-color;
            }
        }

        .title {
            flex-grow: 0;
            overflow: hidden;
            margin: 0;
            padding: 8px;
            font-size: 12px;
        }
        
        .info {
            flex-grow: 0;
            padding: 4px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 12px;
        }
    }
}

h1 {
    background-color: $background-color;
    margin: 0;
    padding: 5px;        
    font-size: 100%;
}

.toolbar {
    float: right;
}

button.flat {
    color: $text-color;
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;        
}

input, select {
    border: 1px solid $dark-text-color;
    background-color: $background-color;
    border-radius: 10px;
    color: $text-color;
    width: 250px;

    &:focus {
        border-color: $text-color;
    }
}

input {
    padding: 3px 10px;
}

select {
    padding: 3px 7px;
}

.nowrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden
}

@media only screen and (min-width: $mobile-width) {

    .header {
        position: sticky;
        left: 0;
        right: 0;
        top: 0;
        height: $header-height;
        background-color: $light-background-color;
        border-bottom: 1px solid $text-color;
        display: grid;
        grid-template-columns: auto 1fr $sidebar-width;
        grid-template-rows: auto auto;
        
        app-logo {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 3;
            padding: 10px;

            svg {
                // TODO: Make sure this auto-aligns properly
                height: 54px;
            }
        }
    
        app-player {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 3;
            padding: 10px;
            display: block;
            height: 100%;
            width: $sidebar-width;
            border-left: 1px solid $text-color;
        }

        app-registration, app-filter {
            display: block;
            justify-self: end;
            grid-column-start: 2;
        }
    
        app-registration {
            grid-row-start: 1;
            .active, .description {
                display: inline-block;
            }
        }
    
        app-filter {
            grid-row-start: 2;
        }
    }
}

@media only screen and (max-width: $mobile-width) {
    .header {
        position: sticky;
        left: 0;
        right: 0;
        top: 0;
        background: $background-color;
        border-bottom: 1px solid $text-color;
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr;

        app-logo {
            grid-row-start: 1;
            grid-column-start: 1;
            justify-self: center;
            height: $mobile-header-height;
            padding: 10px;

            svg {
                // TODO: Make sure this auto-aligns properly
                height: 35px;
            }
        }
    
        app-player {
            .container {
                background: $background-color;
            }
            grid-row-start: 1;
            grid-column-start: 1;
            z-index: 100;
        }

        app-registration, app-filter {
            padding-left: 10px;
            padding-right: 10px;
        }
    
        app-registration {
            grid-row-start: 2;
        }
    
        app-filter {
            grid-row-start: 3;
            border-bottom: 1px solid $text-color;
        }
    }

    .sidebar {
        display: block;
        position: fixed;
        left: 0;
        right: 0;
        top: auto;
        bottom: 0;
        width: 100%;
        height: auto;
        border-top: 1px solid $text-color;
        border-left: 0;

        app-history {
            display: none;
        }

        app-playlist {
            ul {
                max-height: 70px;
            }
        }
    }

    app-categories {
        width: 100%;

        app-sample {           
            button {
                width: 100%;
                height: 50px;
            }

            .title {
                padding: 2px;
            }

            .info {
                font-size: 80%;
                color: $dark-text-color;
            }
        }
    }
   
    input, select {
        width: 100%;
    }
}
