@import "./assets/css/colors";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-family: Roboto, 'Open Sans', Arial, sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}