@import "./assets/css/colors";

$header-height: 75px;
$mobile-header-height: 60px;
$mobile-filter-height: 44px;
$sidebar-width: 400px;

body {
    font-family: Roboto, 'Open Sans', Arial, sans-serif;
    margin: 0;
    background-color: $background-color;
    color: $text-color;
}

* {
    box-sizing: border-box;

    &:focus {
        color: $light-text-color !important;
        outline: none;
    }
}

.header {
    app-logo {
        display: block;
        fill: $text-color;
    }

    app-toolbox {
        .container {
            display: table;
            margin-top: auto;
        
            .row {
                display: table-row;
            }
        
            .column {
                display: table-cell;
            }        
        
            label {
                width: 1%; /*a small value*/
                white-space: nowrap;            
                padding-right: 10px;
                text-align: right;
            }
        
            input, select {
                width: 100%;
            }
        }
            }
}

.sidebar {
    display: block;
    position: fixed;
    right: 0;
    top: $header-height;
    bottom: 0;
    width: $sidebar-width;
    background-color: $light-background-color;
    border-left: 1px solid $text-color;

    li {
        padding: 0 5px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

app-categories {
    display: block;
    margin-right: $sidebar-width;

    ul {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 5px;        
    }
    
    h2 {
        margin: 0;
        font-size: 120%;
    }

    app-sample {
        button {
            border: 1px solid $light-background-color;
            overflow: hidden;
            align-items: stretch;
            text-align: center;
            padding: 0;
            color: $text-color;
            background-color: $light-background-color;

            &:focus {
                border-color: $text-color;
            }
        }

        .title {
            flex-grow: 0;
            overflow: hidden;
            margin: 0;
            padding: 8px;
            font-size: 12px;
        }
        
        .info {
            flex-grow: 0;
            padding: 4px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 12px;
        }
    }
}

h1 {
    background-color: $background-color;
    margin: 0;
    padding: 5px;        
    font-size: 100%;
}

.toolbar {
    float: right;
}

button.flat {
    color: $text-color;
    border: 0;
    padding: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;        
}

input, select {
    border: 1px solid $dark-text-color;
    background-color: $background-color;
    border-radius: 10px;
    color: $text-color;
    width: 250px;

    &:focus {
        border-color: $text-color;
    }
}

input {
    padding: 3px 10px;
}

select {
    padding: 3px 7px;
}

.nowrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden
}

@media only screen and (min-width: $mobile-width) {

    .header {
        position: sticky;
        left: 0;
        right: 0;
        top: 0;
        background-color: $light-background-color;
        border-bottom: 1px solid $text-color;
        display: grid;
        grid-template-columns: auto 1fr $sidebar-width;
        grid-template-rows: auto;

        > * {
            padding: 10px;
            grid-row-start: 1;
        }

        app-logo {
            grid-column-start: 1;
            grid-column-end: 2;
            align-self: center;

            svg {
                // TODO: Make sure this auto-aligns properly
                height: 50px;
            }
        }
    
        app-player {
            grid-column-start: 3;
            grid-column-end: 4;
            display: block;
            height: 100%;
            width: $sidebar-width;
            border-left: 1px solid $text-color;
        }

        app-toolbox {
            padding-top: 0;
            padding-bottom: 0;
            grid-column-start: 2;
            justify-self: end;
            display: flex;
            flex-direction: row-reverse;

            .buttons {
                float: right;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                margin-left: 10px;

                button {
                    display: block;
                }
            }
        }
    }

    app-categories {
        button {
            display: flex;
            flex-direction: column;
            width: 160px;
            height: 120px;
            justify-content: space-between;
        }
    }
}

@media only screen and (max-width: $mobile-width) {
    .header {
        position: sticky;
        left: 0;
        right: 0;
        top: 0;
        background: $background-color;
        border-bottom: 1px solid $text-color;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;

        app-logo {
            grid-row-start: 1;
            grid-column-start: 1;
            justify-self: center;
            height: $mobile-header-height;
            padding: 10px;

            svg {
                // TODO: Make sure this auto-aligns properly
                height: 35px;
            }
        }

        app-toolbox {
            padding-bottom: 10px;

            .buttons {
                display: flex;
                flex-direction: row;
                justify-content: center;
                
                > *:not(first-child) {
                    margin-left: 10px;
                }
            }
        }
    
        app-player {
            .container {
                background: $background-color;
            }
            grid-row-start: 1;
            grid-column-start: 1;
            z-index: 100;
        }

        app-toolbox {
            grid-row-start: 2;
            grid-column-start: 1;
            padding-left: 10px;
            padding-right: 10px;
            border-bottom: 1px solid $text-color;

            .container {
                padding-top: 10px;
            }
        }
    }

    .sidebar {
        display: block;
        position: fixed;
        left: 0;
        right: 0;
        top: auto;
        bottom: 0;
        width: 100%;
        height: auto;
        border-top: 1px solid $text-color;
        border-left: 0;

        app-history {
            display: none;
        }

        app-playlist {
            ul {
                max-height: 70px;
            }
        }
    }

    app-categories {
        width: 100%;

        app-sample {           
            button {
                width: 100%;
                height: 65px;
            }

            .title {
                font-size: 16px;
                padding: 2px 5px;
            }

            .info {
                display: none;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
   
    input, select {
        width: 100%;
    }
}
