<div>
    <!-- <form #form="ngForm" novalidate>
        <mat-form-field>
            <mat-select [(value)]="activeRegistrationId">
                <mat-option *ngFor="let registration of getRegistrations()" value="{{registration.id}}">{{registration.description}}</mat-option>
            </mat-select>
        </mat-form-field>
    
        <label>description:</label>
        <input type="text" name="description" [(ngModel)]="description" minlength="2" maxlength="35" #descriptionDir="ngModel">
        <button type="button" [disabled]="form.invalid" (click)="onFormSubmit()">submit</button>
    </form> -->
</div>