<!-- <div *ngIf="showActivePlayer()"> -->
<div>
    <div class="active">
        <select [(value)]="activeRegistrationId" (change)="onChangeActiveRegistration($event)" accesskey="p">
            <option *ngFor="let registration of getRegistrations()" value="{{registration.id}}">{{registration.description}}</option>
        </select>
    </div>
    <div class="description">
        <input type="text" [(value)]="description" (blur)="onSetDescription($event)" (keyup.enter)="onSetDescription($event)" accesskey="d">
    </div>
</div>